@use "palette.scss";
@use "sizes.scss";

$mobile-width: sizes.$main-width + sizes.$body-margin * 2;

main {
    margin: 2rem auto 4rem;
    width: sizes.$main-width;
    max-width: sizes.$main-width;
  
    @media (max-width: $mobile-width) {
        width: 100%;
    }
}
  
.content-box {
    background: palette.$body-background-color;
    color: palette.$body-text-color;
    box-shadow: 5px 5px palette.$main-color, 10px 10px palette.$dark-color, 15px 15px palette.$darker-color;
    
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
  }
  
.content {
    position: relative;

    padding: sizes.$content-padding;
}

.content-video {
  @media (max-width: 548px) {
    width: 100%;
  }
}

.content-box-bottom {
    margin-bottom: 1em;
    clear: left;
}

.footer-author {
    font-size: 13px;

    color: palette.$darker-color;
}