:root {
  --body-background: #F0CCF9;
  --content-background: #FAE8FF;
  
  --decoration-color: #FF78FF;
  --light-color: #FFBFF3;

  --body-color: #444;
  --heading-color: black;
  --action-color: #181718;

  --titlebar-height: 18px;
}

@font-face {
  font-family: '04B_24';
  src: url('/fonts/04B_24__.woff'), url('/fonts/04B_24__.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '04B_25';
  src: url('/fonts/04B_25__.woff'), url('/fonts/04B_25__.TTF');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: var(--decoration-color);
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 100%;
  max-width: 600px;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 4rem;
  width: 750px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

.content-box {
  background-color: var(--content-background);
  box-shadow: 5px 5px var(--decoration-color), 10px 10px #CD5BC7, 15px 15px #95398B;
  
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
}

.title-bar {
  background-image: url("/images/title_bar.png");

  border-bottom: solid;
  border-color: black;
  border-width: 1px;

  display: block;

  height: var(--titlebar-height);

  padding: 0px 0px 0px 4px;
}

.title-bar-content {
  display: flex;
  align-items: center;

  width: max-content;
  height: var(--titlebar-height);
  padding: 0px;
  margin: 0px;
}

.title-bar-label {
  font-size: 12px;
  font-family: '04B_25';
  color: white;
  text-align: left;
  line-height: var(--titlebar-height);
}

.title-bar-buttons {
  float: right;

  margin-top: calc(var(--titlebar-height) * -1); /* this sucks but without it the buttons show up underneath the title bar */
}

.title-bar-icon {
  padding: 3px 6px 3px 0px;
}

.title-bar-button {
  background-image: url("/images/title_bar_button.png");
  
  border-style: solid;
  border-color: var(--light-color);
  border-width: 1px;
  border-radius: 4px;

  float: right;
  
  padding: 1px;
  margin: 1px 5px 1px 2px;
}

.content {
  padding: 25px 25px 25px 25px;
}

footer {
  font-size: 1em;
  text-align: center;

  margin-bottom: 4rem;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

.profile {
  width: 400px;
  height: calc(300px + var(--titlebar-height));

  margin: 2rem auto 4rem;
}

.profile ul {
  list-style-type: none;

  margin: 0px;
  padding: 0px;
}

.bio {
  display: flex;
}

.bio-text {
  margin-left: 10px;

  text-align: left;
}

.elsewhere {
  margin: 0px;
  padding: 10px 0px 0px 0px;
}

.external-links {
  text-align: center;
}

.external-links li {
  width: 50%;
  float: left;
}