@use 'palette.scss';

@use "navbar.scss";
@use "titlebar.scss";
@use "content.scss";
@use "project.scss";
@use "posts.scss";
@use "hcard.scss";
@use "carousel.scss";
@use "pdf.scss";

body {
  background-color: palette.$background-color;
  background: url('/images/bg.png');

  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;

  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

.report {
  background: url('/images/bg_light.png');
}

a {
  color: palette.$action-color;
  text-decoration: underline;
  text-decoration-color: palette.$main-color;
}

h1 {
  margin: 0 2rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: palette.$heading-color;
  line-height: 1.2;
}

h2 {
  margin: 1rem 2rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: palette.$heading-color;
  line-height: 1.2;
}

.title-minimal-margin {
  margin: 1rem 0 1rem;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 100%;
  max-width: 600px;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

.padding {
  margin: 1rem;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

.header-divider {
  margin: 0 0 2rem;
}

footer {
  font-size: 1em;
  text-align: center;

  margin-bottom: 4rem;
}