@use 'palette.scss';
@use "titlebar.scss";

@font-face {
  font-family: '04B_24';
  src: url('/fonts/04B_24__.woff'), url('/fonts/04B_24__.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '04B_25';
  src: url('/fonts/04B_25__.woff'), url('/fonts/04B_25__.TTF');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('/images/bg.png');

  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;

  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

a {
  color: palette.$action-color;
  text-decoration: underline;
  text-decoration-color: palette.$main-color;
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: palette.$heading-color;
  line-height: 1.2;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 100%;
  max-width: 600px;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 4rem;
  width: 750px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

.navbar-element {
  display: grid;

  text-align: center;
}

.navbar-element-icon-region {
  margin-left: auto;
  margin-right: auto;
}

.navbar-element-icon {
  padding: 1px;
}

.navbar-element-icon:hover {
  border: 1px solid;
  border-image: url(/images/desktop/border.png) 1 round;

  padding: 0px;
}

.navbar-element-arrow {
  background-color: white;

  position: absolute;
  
  margin-left: -82px;
  margin-top: 68px;

  padding: 2px;
  
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.content-box {
  background: palette.$body-background-color;
  color: palette.$body-text-color;
  box-shadow: 5px 5px palette.$main-color, 10px 10px palette.$dark-color, 15px 15px palette.$darker-color;
  
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
}

.content {
  padding: 25px 25px 25px 25px;
}

footer {
  font-size: 1em;
  text-align: center;

  margin-bottom: 4rem;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

.profile {
  width: 400px;
  height: calc(300px + titlebar.$height);

  margin: 2rem auto 4rem;
}

.profile ul {
  list-style-type: none;

  margin: 0px;
  padding: 0px;
}

.bio {
  display: flex;
}

.bio-text {
  margin-left: 10px;

  text-align: left;
}

.elsewhere {
  margin: 0px;
  padding: 10px 0px 0px 0px;
}

.external-links {
  text-align: center;
}

.external-links li {
  width: 50%;
  float: left;
}