@use 'palette.scss';
@use 'fonts.scss';

$icon-size: 80px;

$character-height: 11px;

.navbar-element {
  display: grid;
  
  color: black;
  text-align: center;
}
  
.navbar-element-icon-region {
  margin-left: auto;
  margin-right: auto;
}

.navbar-icon-container {
  width: $icon-size;
  height: $icon-size;

  padding: 1px;
  margin: 0px auto 0px auto;
}
  
.navbar-icon-container:hover {
  border: 1px solid;
  border-image: url(/images/desktop/border.png) 1 round;
  
  padding: 0px;
}
  
.navbar-element-icon {
  filter: drop-shadow(4px 3px 0px palette.$background-color-dark);
}
  
.navbar-element-arrow {
  background-color: white;
  
  position: absolute;
    
  margin-left: calc(-1 * $icon-size / 2 - 1px);
  margin-top: -14px;
  
  padding: 2px;
    
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.navbar-label {
  background-image: url('/images/desktop/labels.png');
  height: 12px;

  margin: 10px auto 0px auto;
  
  filter: drop-shadow(2px 2px 0px palette.$background-color-dark);
}

.navbar-label-home {
  width: 35px;
}

.navbar-label-about {
  background-position-y: 51px;
  width: 39px;
}

.navbar-label-projects {
  background-position-y: 38px;
  width: 63px;
}

.navbar-label-resources {
  background-position-y: 25px;
  width: 71px;
}

.navbar-label-blog {
  background-position-y: 12px;
  width: 39px;
}