$background-color: #F0CCF9;
$background-color-dark: #C5A8DD;

$body-background-color: #FAE8FF;
$body-text-color: #444;

$heading-color: black;
$action-color: #181718;

$light-color: #FFBFF3;
$main-color: #FF78FF;
$dark-color: #CD5BC7;
$darker-color: #95398B;