@use 'palette.scss';

$entry-mask1: polygon(3% 4%, 100% 0%, 97% 98%, 0% 100%);
$entry-mask2: polygon(0% 0%, 99% 3%, 96% 100%, 2% 96%);
$entry-mask3: polygon(0% 4%, 95% 0%, 100% 100%, 4% 97%);

.projects {
    margin-top: 10px;
}

.project-entries {
    margin: 0px;
    padding: 0px;

    list-style-type: none;
}

.project-entry {
    margin-bottom: 15px;
    padding-bottom: 15px;
    
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;

    display: flex;
    
}

.project-entry:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;

    border-width: 0px 0px 0px 0px;
}

.project-entry:nth-child(even) {
    flex-direction: row-reverse;
}

.project-entry:nth-child(3n - 2) .project-cover-image {
    clip-path: $entry-mask1;
}

.project-entry:nth-child(3n - 1) .project-cover-image {
    clip-path: $entry-mask2;
}

.project-entry:nth-child(3n) .project-cover-image {
    clip-path: $entry-mask3;
}

.project-cover {
    width: 100%;
}

.project-cover-image {
    width: 100%;
}

.project-padding {
    width: 25px;
}

.project-info {
    width: 100%;
}

.project-tags {
    overflow: hidden;

    margin: -2px -4px 8px -4px;
}

.project-tag {
    background-color: palette.$background-color;

    width: fit-content;
    
    float: left;

    margin: 2px 4px;

    padding-left: 5px;
    padding-right: 5px;

    border-style: solid;
    border-color: palette.$darker-color;
    border-width: 1px;
    border-radius: 8px;
}

.project-blurb {
    margin-top: 10px;

    font-style: italic;
}

.project-banner {
    width: 100%;
}