<header>
  <a href="{{ '/' | relative_url }}"><img src="{{ '/images/logo.png' | relative_url }}" alt="https://kimera.world" /></a>
</header>

<nav>
  <ul class="navbar-icons">
    <li>{% render "navbaricon", label: 'Home', icon: '/images/desktop/home.png', url: '/' %}</li>
    <li>{% render "navbaricon", label: 'About', icon: '/images/desktop/about.png', url: '/about' %}</li>
    <li>{% render "navbaricon", label: 'Projects', icon: '/images/desktop/projects.png', url: '/projects' %}</a></li>
    <li>{% render "navbaricon", label: 'Resources', url: '/resources' %}</a></li>
    <li>{% render "navbaricon", label: 'Posts', icon: '/images/desktop/blog.png', url: '/posts' %}</a></li>
  </ul>
</nav>
